openapi: 3.0.0
info:
  title: salesforce-system-api-sapi
  version: 1.0.0
  description: 'MuleSoft API: salesforce-system-api-sapi'
servers:
  - url: 'https://salesforce-system-api-sapi.cloudhub.io/api/v1'
    description: CloudHub 2.0 deployment
paths:
  /files/upload-batch:
    post:
      summary: POST /files/upload-batch
      operationId: post_files_upload_batch
      tags:
        - salesforce-system-api-sapi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  errorCode:
                    type: string
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  errorCode:
                    type: string
                  message:
                    type: string
  /health:
    get:
      summary: GET /health
      operationId: get_health
      tags:
        - salesforce-system-api-sapi
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  errorCode:
                    type: string
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  errorCode:
                    type: string
                  message:
                    type: string
components:
  schemas: {}
